@model IEnumerable<cis237_assignment6.Beverage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script>
    //Clears all the fields then submits the form.
    function clearForm() {
        //Clears Values
        document.getElementById("name").value = "";
        document.getElementById("pack").value = "";
        document.getElementById("min").value = "";
        document.getElementById("max").value = "";

        document.getElementById("myForm").submit(); //Submitting form
    }
</script>



<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @{
            @*Open up a form that will go to the Filter method on the cars controller with a POST request*@

            using (Html.BeginForm(
                "Filter", //Action (method) to submit form to.
                "Beverages", //Controller to submit form to.
                FormMethod.Post, //Sets Request method to post
                new { @class = "form-inline", @id = "myForm" } //Will add css class and id to form.

            ))
            {
                @*Render out a AntiForgery Token for the from.*@
                @Html.AntiForgeryToken(); //Look up in PHP
                <label for="name">Name</label>
                @Html.TextBox("name", (string)ViewBag.filterName)
                <label for="pack">Pack</label>
                @Html.TextBox("pack", (string)ViewBag.filterPack)
                <label for="min">Min Price</label>
                @Html.TextBox("min", (string)ViewBag.filtermin)
                <label for="max">Max Price</label>
                @Html.TextBox("max", (string)ViewBag.filterMax)

                <input type="submit"
                       value="filter"
                       class="btn btn-info pull-right" />
                //For Clearing
                <input type="button"
                       value="clear"
                       class="btn btn-info pull-right"
                       onclick="clearForm()" />
            }
        }
    </fieldset>

</div>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
